<div class="details">
    <div class="details_general">
        <h4 class="details_general-title">Detalles del Servicio</h4>
        <div class="details_general-content">
            <div class="wrapper d-flex flex-column">
                <div class="description">
                    <p>{{barberia.descripcion}}</p>
                </div>
                {% comment %} <ul class="list">
                    <li class="list-item">
                        <span class="property">Product Id</span>
                        <span class="value">12345-00ghy</span>
                    </li>
                    <li class="list-item">
                        <span class="property">Code</span>
                        <span class="value">RTYUIOP123</span>
                    </li>
                </ul> {% endcomment %}
            </div>
        </div>
    </div>
    <div class="details_info d-flex flex-column">
        <div class="details_info-item">
            <div class="details_info-item_header">
                <h4 class="title">Corte Básico</h4>
                <h6>Precio: $3 - $5</h6>
            </div>
            <div class="details_info-item_content">
                <ul class="list list--details d-flex flex-column">
                    <li class="list-item">
                        <i class="icon icon-circle"></i>
                        <p class="text">Un corte de pelo que resalta tu estilo.</p>
                    </li>
                    <li class="list-item">
                        <i class="icon icon-circle"></i>
                        <p class="text">
                            Armonía en las cejas para una apariencia pulida y ordenada.
                        </p>
                    </li>
                    <li class="list-item">
                        <i class="icon icon-circle"></i>
                        <p class="text">Ideal para aquellos que buscan una solución rápida y asequible.</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="details_info-item">
            <div class="details_info-item_header">
                <h4 class="title">Paquete Deluxe</h4>
                <h6>Precio: $10 - $15</h6>
            </div>
            <div class="details_info-item_content">
                <ul class="list list--details d-flex flex-column">
                    <li class="list-item">
                        <i class="icon icon-circle"></i>
                        <p class="text">Incluye Todo el plan Básico</p>
                    </li>
                    <li class="list-item">
                        <i class="icon icon-circle"></i>
                        <p class="text">
                            Lavado del cabello para una experiencia relajante.
                        </p>
                    </li>
                    <li class="list-item">
                        <i class="icon icon-circle"></i>
                        <p class="text">Aplicación de cremas y tratamientos adicionales para revitalizar y nutrir el cabello y la piel.</p>
                    </li>
                    <li class="list-item">
                        <i class="icon icon-circle"></i>
                        <p class="text">Perfecto para quienes desean un tratamiento completo y un momento de relajación.</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="details_info-item">
            <div class="details_info-item_header">
                <h4 class="title">Tratamiento VIP</h4>
                <h6>Precio: Variable +$20</h6>
            </div>
            <div class="details_info-item_content">
                <ul class="list list--details d-flex flex-column">
                    <li class="list-item">
                        <i class="icon icon-circle"></i>
                        <p class="text">Servicios personalizados según tus necesidades y estilo único.</p>
                    </li>
                    <li class="list-item">
                        <i class="icon icon-circle"></i>
                        <p class="text">
                            Consulta de Estilo de peinado
                        </p>
                    </li>
                    <li class="list-item">
                        <i class="icon icon-circle"></i>
                        <p class="text">Atención especializada de parte de nuestros barberos expertos.</p>
                    </li>
                    <li class="list-item">
                        <i class="icon icon-circle"></i>
                        <p class="text">Una experiencia exclusiva que va más allá del simple corte, ofreciendo soluciones adaptadas a tus necesidades específicas.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>